[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gitlink"]
	path = gitlink
	url = https://github.com/colearendt/gitlink
	shallow = true
	registered = true
[submodule "tidyjson"]
	path = tidyjson
	url = https://github.com/colearendt/tidyjson
	shallow = true
	registered = true
[submodule "xlsx"]
	path = xlsx
	url = https://github.com/colearendt/xlsx
	shallow = true
	registered = true
